
<header class="navbar navbar-fixed-top navbar-inverse">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" routerLink="/">
      <!--<a routerLink="/">-->
      <img src="/img/logo.png" alt="SA Partners"
           style="padding: 0 5px; width: auto; height: 30px;">
    </a>
  </div>
  <ul *ngIf="application.options.enable_sidebar_left || application.options.enable_user_option"
      class="nav navbar-nav-custom">
    <li [class.hidden]="!application.options.enable_sidebar_left">
      <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');this.blur();">
        <i class="fa fa-bars fa-fw"></i>
      </a>
    </li>
    <li class="dropdown" [class.hidden]="!application.options.enable_user_option">
      <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
        <i class="gi gi-settings"></i>
      </a>
      <ul class="dropdown-menu dropdown-custom dropdown-options">
        <li class="dropdown-header text-center">Header Style</li>
        <li>
          <div class="btn-group btn-group-justified btn-group-sm">
            <a href="javascript:void(0)" class="btn btn-primary" id="options-header-default">Light</a>
            <a href="javascript:void(0)" class="btn btn-primary" id="options-header-inverse">Dark</a>
          </div>
        </li>
        <li class="dropdown-header text-center">Page Style</li>
        <li>
          <div class="btn-group btn-group-justified btn-group-sm">
            <a href="javascript:void(0)" class="btn btn-primary" id="options-main-style">Default</a>
            <a href="javascript:void(0)" class="btn btn-primary" id="options-main-style-alt">Alternative</a>
          </div>
        </li>
      </ul>
    </li>
  </ul>

</header>




