<header class="navbar navbar-fixed-top navbar-inverse">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" routerLink="/">
      <!--<a routerLink="/">-->
      <img src="/img/logo.png" alt="SA Partners"
           style="padding: 0 5px; width: auto; height: 30px;">
    </a>
  </div>

  <!-- sidebar_left -->
  <ul *ngIf="application.options.enable_sidebar_left || application.options.enable_user_option"
      class="nav navbar-nav-custom">
    <li [class.hidden]="!application.options.enable_sidebar_left">
      <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');this.blur();">
        <i class="fa fa-bars fa-fw"></i>
      </a>
    </li>
    <li class="dropdown" [class.hidden]="!application.options.enable_user_option">
      <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
        <i class="gi gi-settings"></i>
      </a>
      <ul class="dropdown-menu dropdown-custom dropdown-options">
        <li class="dropdown-header text-center">Header Style</li>
        <li>
          <div class="btn-group btn-group-justified btn-group-sm">
            <a href="javascript:void(0)" class="btn btn-primary" id="options-header-default">Light</a>
            <a href="javascript:void(0)" class="btn btn-primary" id="options-header-inverse">Dark</a>
          </div>
        </li>
        <li class="dropdown-header text-center">Page Style</li>
        <li>
          <div class="btn-group btn-group-justified btn-group-sm">
            <a href="javascript:void(0)" class="btn btn-primary" id="options-main-style">Default</a>
            <a href="javascript:void(0)" class="btn btn-primary" id="options-main-style-alt">Alternative</a>
          </div>
        </li>
      </ul>
    </li>
  </ul>

  <!-- main menu items -->
  <ul *ngIf="application.options.left.items?.length > 0" class="nav navbar-nav-custom">
    <!--<li>-->
    <!--<a routerLinkActive="active" routerLink="/home">-->
    <!--<i class="fa fa-home"></i>&nbsp; Home-->
    <!--</a>-->
    <!--</li>-->
    <li *ngFor="let item of application.options.left.items; let i=index; trackBy:trackByIndex">
      <a *ngIf="item.enabled" routerLinkActive="active" [class.active]="this.application.location === item.active_for"
         [routerLink]="item.link">
        <i [class]="item.fa_icons"></i>&nbsp; {{ item.label }}
      </a>
    </li>
  </ul>

  <!-- search form -->
  <form *ngIf="application.options.enable_menubar_search" action="page_ready_search_results.html" method="post"
        class="navbar-form-custom">
    <div class="form-group">
      <input type="text" id="top-search" name="top-search" class="form-control" placeholder="Search..">
    </div>
  </form>

  <!-- right hand menu -->
  <ul class="nav navbar-nav-custom pull-right">
    <li *ngIf="application.options.enable_sidebar_right">
      <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar-alt', 'toggle-other');this.blur();">
        <i class="gi gi-share_alt"></i>
        <span class="label label-primary label-indicator animation-floating">4</span>
      </a>
    </li>
    <li class="dropdown" *ngIf="application.user.authenticated">
      <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
        <img src="img/placeholders/avatars/avatar2.jpg" alt="avatar"> <i class="fa fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
        <li>
          <a routerLink="/user/profile">
            <i class="fa fa-user fa-fw pull-right"></i> Profile
          </a>
        </li>

        <li *ngFor="let item of application.options.top.right.items; let i=index; trackBy:trackByIndex">
          <a *ngIf="item.enabled" routerLinkActive="active"
             [class.active]="this.application.location === item.active_for" [routerLink]="item.link">
            <i [class]="item.fa_icons"></i>&nbsp; {{ item.label }}
          </a>

        <li *ngFor="let item of application.options.middle.right.items; let i=index; trackBy:trackByIndex">
          <a *ngIf="item.enabled" routerLinkActive="active"
             [class.active]="this.application.location === item.active_for" [routerLink]="item.link">
            <i [class]="item.fa_icons"></i>&nbsp; {{ item.label }}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</header>
